.c-button {
  align-items: center;
  border-radius: 999px;
  display: flex;
  justify-content: center;
}

.c-button--3 {
  align-items: center;
  border-radius: 999999px;
  display: flex;
  justify-content: center;
}
